<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Research">Research</a></li>
	        		<li><a href="/Publications">Publications</a></li>
	        		<li><a href="/People">People</a></li>
              			<li><a href="/Alumni">Alumni</a></li>
              			<li><a href="/Contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>
	        			<a href="https://iab.univ-grenoble-alpes.fr/?language=en"> <img align="left" alt="IAB" src="Images/IAB logo coul.png" width="250"></a> 
					<img class="centrer" alt="IAB" src="Images/IAB.png" width="400">
					<a href="https://univ-grenoble-alpes.fr/english"> <img align="right" alt="UGA" src="Images/UGA.png" width="200"></a> 
				</li>
				</ul>
			</footer>
		</body>
	</html>
